@import "tailwindcss";

@theme {
  --font-syncopate: var(--font-syncopate);
  --font-inter: var(--font-inter);

  --color-vantablack: #050505;
  --color-crimson: #DC143C;
  --color-silver: #E0E0E0;
  --color-dimgray: #888888;
}

body {
  background: var(--color-vantablack);
  color: var(--color-silver);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-syncopate);
}